.title {
    margin: 10px;
}
.title h3 {
    cursor: pointer;
}
.card img {
    height: 18rem;
}
.error-message {
    color: red;
}
.error {
    padding: 10px;
    margin: 10px 0px 10px 0px;
    background: lightsalmon;
    color: black;
    border: 1px solid brown;
}